<div class="amb-container">
  <div class="amb-login">
    <form class="amb-login__form">
      <mat-form-field class="amb-login__input" [(ngModel)]="name">
        <input matInput placeholder="Անուն" [value]="name">
        <svg *ngIf="name" class="amb-login__clear" width="20" height="20">
          <title>Clear</title>
          <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
        </svg>
      </mat-form-field>

      <mat-form-field class="amb-login__input" >
        <input matInput placeholder="Ազգանուն" [(ngModel)]="lastName">
        <svg *ngIf="lastName" class="amb-login__clear" (click)="lastName=''" width="20" height="20">
          <title>Clear</title>
          <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
        </svg>
      </mat-form-field>

      <mat-form-field class="amb-login__input" >
        <input matInput placeholder="ID" [(ngModel)]="ambId">
        <button mat-button *ngIf="ambId" matSuffix mat-icon-button aria-label="Clear" (click)="ambId=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="amb-login__input">
        <textarea matInput placeholder="Կանչի Հասցեն"></textarea>
      </mat-form-field>

      <button class="amb-login__btn" mat-raised-button color="primary">Հաջորդ</button>
    </form>
  </div>
</div>
