<div class="amb-login">
  <h3>Հեռախոսահամարի Հաստատում</h3>
  <form class="amb-login__form">
    <mat-form-field appearance="outline" *ngIf="!phoneSend" class="amb-login__input">
      <span matPrefix>+374 &nbsp;</span>
      <input type="tel"  matInput placeholder="Հեռախոսահամար" [(ngModel)]="this.Person.phoneNumber" name="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
      <svg *ngIf="phone" class="amb-login__clear" (click)="phone = ''" width="20" height="20">
        <title>Clear</title>
        <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
      </svg>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="phoneSend" class="amb-login__input">
      <input matInput placeholder="Գաղտնաբառ" [(ngModel)]="code" name="code">
      <svg *ngIf="code" class="amb-login__clear" (click)="code = ''" width="20" height="20">
        <title>Clear</title>
        <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
      </svg>
    </mat-form-field>

    <div class="amb-login__resend" *ngIf="phoneSend">
      <span>Ուղարկել կրկին</span>
    </div>

    <div class="amb-login__btn">
      <button *ngIf="!phoneSend" class="amb-login__btn" mat-raised-button color="primary" (click)="phoneSend = !phoneSend" (keydown.enter)="phoneSend = !phoneSend">Ուղարկել</button>
      <button *ngIf="phoneSend" class="amb-login__btn" mat-raised-button color="primary" (click)="navigate()" (keydown.enter)="navigate()">Հաստատել</button>
      <button *ngIf="phoneSend" class="amb-login__btn" mat-raised-button (click)="phoneSend = !phoneSend">Հետ</button>
    </div>
  </form>
</div>
